<sonicle-pec-bridge port="10125">
    <!-- "mailnode" is resolved to the Mail module VPN IP address -->
    <default host="mailnode" port="10587" debug="false" auth="false" />
    <webtop-api basePath="http://localhost:8080/webtop/api/com.sonicle.webtop.core/v1" bearer="WEBAPP_API_TOKEN" iddomain="NethServer" />
    <fetch delay="60" />
</sonicle-pec-bridge>
