#
# This systemd unit starts a webtop instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=WebTop pod service
Requires=webapp.service postgres.service
Before=webapp.service postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/webtop.pid %t/webtop.pod-id
ExecStartPre=/usr/bin/podman pod create \
    --infra-conmon-pidfile=%t/webtop.pid \
    --pod-id-file=%t/webtop.pod-id \
    --name=webtop \
    --publish=8080:${TCP_PORT} \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/webtop.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/webtop.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/webtop.pod-id
PIDFile=%t/webtop.pid
Type=forking

[Install]
WantedBy=default.target
