#
# This systemd unit starts a webtop instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=WebTop pod service
Wants=webapp.service postgres.service apache.service webdav.service z-push.service pecbridge.service
Before=webapp.service postgres.service apache.service webdav.service z-push.service pecbridge.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/webtop.pid %t/webtop.pod-id
ExecStartPre=/usr/bin/podman pod create \
    --infra-conmon-pidfile=%t/webtop.pid \
    --pod-id-file=%t/webtop.pod-id \
    --name=webtop \
    --publish=${TCP_PORT}:8081 \
    --network=slirp4netns:allow_host_loopback=true \
    --add-host=accountprovider:10.0.2.2 \
    --add-host=mailnode:${Z_PUSH_IMAP_SERVER} \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/webtop.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/webtop.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/webtop.pod-id
PIDFile=%t/webtop.pid
Type=forking

[Install]
WantedBy=default.target
